.overlay,
.header__action-btn:not(.nav-open-btn) {
    display: none;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    border-block-end: 1px solid $white_10;

    &.active {
        position: fixed;
        background-color: $phthalo-green-2;
        border: none;
        box-shadow: $shadow;
        transform: translateY(-100%);
        animation: slideInTop 0.5s ease forwards;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 26px 30px;

        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            max-width: 300px;
            width: 100%;
            background-color: $phthalo-green-2;
            height: 100vh;
            padding: 30px 15px;
            z-index: 2;
            transition: 0.25s $cubic-in;
            visibility: hidden;
        }
    }

    &__action-btn {
        font-size: 28px;

        ion-icon {
            --ionicon-stroke-width: 40px;
        }
    }

    .nav-open-btn {
        color: $satin-sheen-gold;
    }
}

@keyframes slideInTop {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}